						/* Page one */
div{
/*	border: 15px solid green;*/
  	padding: 5px;
}

body{
	margin: 0; 
	font-family: Roboto, Verdana, sans-serif; 
	font-size: 16px;
	/*background color: #D4D3CD;*/
}

.one a{
	color: white;
	text-decoration: none;
}

		/* title note */
h1{
	color: white;
}

h2{
	color: #397EBC;
}


.head{
	background-color: #2d3436;
	background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
	text-align: left;
	padding: 350px;
	line-height: 1.5; 
}

/*animation on header text*/
.bio{
/*	width: 200px, color: #fff;*/
  font-size: 40px;
  font-family: Roboto, sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end),blink-caret .7s step-end infinite;
  animation: start left;
}

/* The typewriter cursor effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #397EBC }
}

.name{
	font-size: 50px;
}
.start{
	padding-top: 60px;
	text-align: center;
	text-decoration: none;
	font-size: 30px;
}


 						/* home page links*/

.one{
	text-decoration-color: white;
	margin: 0;
	padding: 15px 50px 15px 15px;
	text-align: right;
	word-spacing: 50px;
	background-color: #2d3436;
	background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}


/*title and image for work 'latest work' 'burger' image*/
.work{
	display: inline;
	writing-mode: vertical-rl;
	transform-origin: left;
	text-align:left;
	padding-left: 50px;
	position: relative;
	columns: auto;
}

.box{
	margin-left: 50px;
	margin-top: 0;
	display: inline;
	cursor: pointer;
}

/* title and image for shark image 'hobbie' & 'shark' image */
.hob{
	display: inline;
	margin-top: auto;
	display: inline;
	cursor: pointer;
	/*padding-left: 50px;*/
}

.hobbies{
	display: inline;
	writing-mode: vertical-rl;
	transform-origin: center;
	position: left;
	padding-left: 10px;
	position: flex;
	columns: auto;
}
.shark{
	display: inline;
	margin-top: auto;
	display: inline;
	cursor: pointer;
/*	padding-left: 50px;*/
}

/* title and image for shark image 'hobbie' & 'shark' image */
.bout{
	margin-left: 50px;
	margin-top: 0;
	display: inline;
	cursor: pointer;
/*	vertical-align: left;*/
	
}

/*.camera{
	margin-left: 50px;
	margin-top: 0;
	display: inline;
	cursor: pointer;
/*	vertical-align: left;
}*/

.about{
	display: inline;
	writing-mode: vertical-rl;
	transform-origin: left;
	text-align:left;
	padding-left: 50px;
	position: flex;
	columns: auto;
}

/*blurb about the 'about me'*/
.blurb {
  	color: #397EBC;
 	width: 300px;
 	writing-mode: horizontal-tb;
	font-size: 20px;
	position: absolute;
	display: inline;
	text-align: left;
	margin: 260px 0px 10px 100px;
}

/*blurb about the food app and shark*/

/*.blurb1{
	color: green;
	width: 300px;
	font-size: 20px;
	position: flex;
	display: inline;
	text-align: right;
 	margin: -250px 10px 10px 900px;
    z-index: 1;
}*/


						/*hobbies page*/

.phogallery{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;					
}

.photo{
  flex: 25%;
  max-width:flex;
  padding: 5px;
}

.photo img {
  margin-top: 8px;
  vertical-align: middle;
  width: 25%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo {
    flex: 25%;
    max-width: 25%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .photo {
    flex: 100%;
    max-width: 100%;
  }
}

.hobbies{
	display: inline;
	writing-mode: vertical-rl;
	transform-origin: left;
	text-align:left;
	padding-left: 30px;
	position: flex;
	columns: auto;
	font-size: 30px;
}

 						/* me page links*/

.blurbme{
	float: right;
	color: #397EBC;
 	writing-mode: horizontal-tb;
	font-size: 20px;
	position: absolute;
	display: inline;
	text-align: left;
}

.blurbtwo{
	margin: 0;
	float: left;
	color: #397EBC;
 	writing-mode: horizontal-tb;
	font-size: 20px;
	position: absolute;
	display: inline;
	text-align: left;
}



						/*work page*/

.headbike{
	align-content: center;
}

.biketit{
	display: inline;
	writing-mode: vertical-rl;
	transform-origin: left;
	text-align:left;
	padding-left: 40px;
	padding-bottom: 100px;
	position: flex;
	columns: auto;
	font-size: 40px;
}

.roarbike {
  float: left;
 /* display: flex;*/
  width: 47%;

}

/* Clear floats after the columns */
.rrbike:after {
   display: flex;
   width: 47%;
   padding-left: 30px;
}

.febox{
	width: 50%;
	position: flex;
}
.feature{
	float: left;
  	width: 23%;

}


/*.bike{
	display: inline;
	writing-mode: vertical-rl;
	transform-origin: left;
	text-align:left;
	padding-left: 30px;
	position: flex;
	columns: auto;
	font-size: 30px;
}*/

/*footer, NOTE: needs icons*/

footer{
	background-color: #2d3436;
	background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
	padding: 10px;
}

.fot{ 
	color: white;
	text-align: center;
 }

