/* Page one */
html {
  max-width: 100%;
  margin: 0;
}

/*div{
  border: 15px solid green;
}*/

body {
  margin: 0;
  font-family: Roboto, Verdana, sans-serif;
  font-size: 1rem;
}


.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1rem;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-top: -13px;
  margin-left: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #397ebc;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #2d3436;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ccc;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sitename {
  color: #ccc;
  text-align: left;
  float: left;
}

.one a {
  color: white;
  text-decoration: none;
}

.onefirst a {
  color: white;
  text-decoration: none;
  word-spacing: 50px;
}

.onefirst {
  text-decoration-color: white;
  margin: 0;
  text-align: right;
  max-width: 100%;
}

.one {
  text-decoration-color: white;
  margin: 0;
  text-align: right;
  word-spacing: 50px;
  background-color: #2d3436;
  max-width: 100%;
  font-family: Roboto, Verdana, sans-serif;
}

.active {
  word-spacing: 50px;
  font-family: Roboto, Verdana, sans-serif;
}

.active:focus {
  color: #397ebc;
}

.active:hover {
  color: #397ebc;
}

.project a {
  color: #397ebc;
}

.project {
  padding-right: 3%;
}

.titleone {
  background-color: #2d3436;
  text-decoration: none;
  padding: 3%;
  text-decoration-color: white;
  margin: 0;
  text-align: right;
  max-width: 100%;
  font-family: Roboto, Verdana, sans-serif;
}

.onewrap a {
  word-spacing: 50px;
  color: white;
  text-decoration: none;
}

.onewrap {
  background-color: #2d3436;
  padding: 30px;
  font-size: 1rem;
}

/* title note */
/*portfolio*/

h1 {
  color: white;
}

h2 {
  color: #397ebc;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.everything {
  margin: 30px;
}

.head {
  background-color: #2d3436;
  text-align: left;
  padding: 5vh;
  line-height: 1.5;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head > * {
  margin: 0;
}

.name {
  font-size: 12rem;
  padding: 0;
}
.start {
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  width: 300px;
}

a.start {
  text-decoration: none;
}

.wordCarousel {
  font-size: 2rem;
  font-weight: 100;
  color: #939393;
  display: flex;
}

.wordCarousel > div {
  overflow: hidden;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;
}

.flip4 li {
  font-family: Roboto, Verdana, sans-serif;
  color: #397ebc;
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}

.flip4 {
  padding-left: 0;
  animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@media screen and (max-width: 800px) {
  .name {
    font-size: 8rem;
  }
  .wordCarousel {
    font-size: 1.5rem;
  }
  .onefirst a,
  .active {
    word-spacing: 20px;
  }
  .dropdown .dropbtn {
    margin-left: 7px;
  }

  body .features {
    column-count: 1;
  }
}

@media screen and (max-width: 450px) {
  .name {
    font-size: 6rem;
  }
  .wordCarousel {
    font-size: 1.25rem;
  }

  .onefirst a,
  .active {
    word-spacing: 0;
  }

  .dropdown .dropbtn {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
  }
  .onefirst {
    display: flex;
    justify-content: space-between;
  }
  .sitename {
    float: none;
  }
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Oswald);
.front body {
  font-family: 'Roboto Condensed';
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Homepage */

.paddinglanding {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  padding: 5px;
}

.photo {
  flex: 25%;
  max-width: flex;
  padding: 5px;
  box-sizing: border-box;
}

.photo img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 33%;
  transition: 0.5s ease;
}

.paddinglanding .container,
.paddinglanding:hover .container:hover {
  opacity: 1;
}

.paddinglanding:hover .container {
  opacity: 0.5;
}

.title {
  color: #939393/;
  font-size: 2rem;
  position: absolute;
  bottom: 6%;
  text-align: center;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo {
    flex: 25%;
    max-width: 25%;
  }

  .container {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (min-width: 375px) {
  .photo {
    flex: 100%;
    max-width: 100%;
  }
  .paddinglanding {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* hobbies page */

.grids{
  padding-right:5% ;
  padding-left: 10%;
}


.postcard img {
  margin-top: 8px;
  vertical-align: middle;
  width: 25%;
}

.postcard {
  flex: 30%;
  max-width: flex;
  box-sizing: border-box;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .postcard {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .postcard {
    flex: 100%;
    max-width: 100%;
  }
}

.hobbies {
  display: inline;
  transform-origin: left;
  text-align: left;
  font-size: 2rem;
  float: left;
}

.galls {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  width: calc(100% - 80px);
  box-sizing: border-box;
  padding-bottom: 2%;
/*  padding-top: 2%;
*/}

.gall {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  width: calc(100% - 80px);
  box-sizing: border-box;
  padding-bottom: 10%;
}


/* me page links*/

.blurbme {
  color: #397ebc;
  writing-mode: horizontal-tb;
  font-size: 1.5rem;
  margin-bottom: 2%;
}

.camerame {
  display: inline;
  position: relative;
  align-items: right;
  margin-bottom: 1%;
}

.blurb {
  color: #397ebc;
  writing-mode: horizontal-tb;
  font-size: 1.5rem;
  margin-bottom: 2%;
  margin-right: 10%;
  margin-left: 10%;
}

.button {
  background-color: #397ebc; /* Green/blue */
  border: none;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 1.75rem;
  align-content: center;
}

a.button {
  text-decoration: none;
}

.skills {
  color: #397ebc;
  writing-mode: horizontal-tb;
  font-size: 1.5rem;
  margin-left: 7%;
  margin-right: 10%;
}

.around {
  margin:0;
  color: #397ebc;
  display: inline;
  transform-origin: left;
  text-align: left;
  position: flex;
  columns: auto;
/*  font-size: 1rem;*/
}

.words {
  color: black;
  display: flex;
  justify-content: center;
}

.words li {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  color: #2d3436;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 1.25rem;
  float: left;
}

.but {
  text-align: center;
}

.boutme {
  margin-left: 10%;
  margin-right: 10%;
}

/*workp page*/

.jobs{
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 80px);
  box-sizing: border-box;
  padding: 10%;
}

.jobs img{
  padding: 5px;
  display: flex;
}


/* roadbikes */

ul.line {
  padding: 0;
}

.headbike img {
  /*header image*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 2%;
}

.biketit {
  /*title and border box */
  font-size: 2.5rem;
  padding: 3% 10% 3% 10%;
  margin: 0% 5% 5% 5%;
  background: #fccb00;
  background: rgb(252, 203, 0) 10%;
}

.roadclient {
  /*single client brief*/
  padding: 0% 10% 0% 10%;
  margin: 0% 5% 5% 5%;
}

.list {
  /*features list */
  margin: 0;
}

.features {
  /*Road bike features page*/
  background: #fccb00;
  background: rgb(252, 203, 0) 10%;
  padding: 5% 10% 5% 10%;
  margin: 0% 5% 5% 5%;
  column-count: 2;
  display: inline-block;
  vertical-align: top;
  /*  float: left; */
}

.personaman {
  /*persona copy */
  flex: 25%;
  padding: 0% 10% 5% 10%;
  margin: 0% 5% 0% 5%;
}

.personaman img {
  /*persona image */
  position: flex;
  float: left;
  width: 45%;
  margin-left: 0;
}

.personawom {
  /*persona copy 2*/
  flex: 25%;
  padding: 0% 10% 0% 10%;
  margin: 0% 5% -5% 5%;
}

.personawom img {
  /*persona image 2 */
  position: flex;
  float: left;
  width: 45%;
  margin-left: 0;
}

.persona p {
  /*persona paragraph*/
  margin-top: 10%;
}

.researcher {
  /*research copy & border*/
  flex: 25%;
  max-width: flex;
  background: #fccb00;
  background: rgb(252, 203, 0) 10%;
  padding: 3% 10% 5% 10%;
  margin: 0% 5% 5% 5%;
}

.researcher img {
  /*research page image*/
  position: flex;
  float: left;
  width: 40%;
}

.lowfed {
  /*low fed wireframe copy*/
  position: flex;
  padding: 3% 15% 3% 15%;
}

.lowfed img {
  /*low fed image wireframe*/
  display: block;
  float: center;
  margin-left: 25%;
  margin-right: auto;
  width: 80%;
}

.medfed {
  /*med fed wireframe*/
  position: flex;
  width: 80%;
  padding: 3% 5% 3% 15%;
}

.medfed:hover img {
  transform: scale(1.2);
  position: center;
}

.highfed {
  position: flex;
  padding: 3% 15% 3% 15%;
}

.highfed:hover img {
  transform: scale(1.2);
  position: center;
}

.bikeover {
  /*overview copy*/
  flex: 25%;
  max-width: flex;
  background: #fccb00;
  background: rgb(252, 203, 0) 10%;
  padding: 3% 10% 3% 10%;
  margin: 0% 5% 5% 5%;
}

/* food app */

.food img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 2%;
}

.food h3 {
  font-size: 2.5rem;
  padding: 3% 10% 3% 10%;
  margin: 0% 5% 5% 5%;
  background: #fccb00;
  background: rgba(149, 155, 163, 1) 26%;
}

.list {
  /*features list */
  margin: 0;
}

.foodbrief {
  padding: 0% 10% 0% 10%;
  margin: 0% 5% 5% 5%;
}

.footfeat {
  columns: 2;
  float: left;
  padding: 3% 10% 0% 10%;
  margin: 0% 5% 5% 5%;
  background: #fccb00;
  background: rgba(149, 155, 163, 1) 26%;
}

.footfeat h3 {
  margin: 0;
}

.foodsona img {
  margin-top: 5px;
  width: 40%;
}

.foodsona {
  /*  flex: 25%;*/
  padding: 0% 10% 5% 10%;
  margin: 0% 5% 0% 5%;
}

.foodsona img {
  /*persona image */
  position: flex;
  float: left;
  width: 45%;
  margin-left: 0;
}

.foresearch {
  flex: 25%;
  max-width: flex;
  background: #fccb00;
  background: rgba(149, 155, 163, 1) 26%;
  padding: 3% 10% 5% 10%;
  margin: 0% 5% 5% 5%;
}

.applow {
  position: flex;
  padding: 3% 15% 3% 15%;
}

.applow img {
  display: block;
  float: center;
  margin-left: 25%;
  margin-right: auto;
  width: 80%;
}

.applow:hover img {
  transform: scale(1.2);
  position: center;
}

.appmed {
  position: flex;
  padding: 3% 15% 3% 15%;
}

.appmed img {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.appmed:hover img {
  transform: scale(1.2);
  position: center;
}

.apphigh {
  position: flex;
  padding: 3% 15% 3% 15%;
}

.apphigh img {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.apphigh:hover img {
  transform: scale(1.2);
  position: center;
}

.video {
  position: flex;
  padding: 3% 15% 3% 15%;
}

.appview {
  flex: 25%;
  max-width: flex;
  background: #fccb00;
  background: rgba(149, 155, 163, 1) 26%;
  padding: 3% 10% 5% 10%;
  margin: 0% 5% 5% 5%;
}

.video video {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* blood app */

.blood img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 2%;
}

.blood h3 {
  font-size: 2.5rem;
  padding: 3% 10% 3% 10%;
  margin: 0% 5% 5% 5%;
  background: #e02020;
  background: rgb(224, 32, 32);
  color: white;
}

.bloode {
  background: #e02020;
  background: rgb(224, 32, 32);
  padding: 5% 10% 5% 10%;
  margin: 0% 5% 5% 5%;
  column-count: 2;
  display: inline-block;
  vertical-align: top;
}

.bloodbrief {
  padding: 0% 10% 0% 10%;
  margin: 0% 5% 5% 5%;
}

.bloodfeat {
  background: #e02020;
  background: rgb(224, 32, 32);
  padding: 5% 10% 5% 10%;
  margin: 1% 5% 5% 5%;
  column-count: 2;
  display: inline-block;
  vertical-align: top;
  color: white;
}

.sona {
  flex: 25%;
  max-width: flex;
  padding: 0% 10% 5% 10%;
  margin: 0% 5% 0% 5%;
}

.sona img {
  /*research page image*/
  position: flex;
  float: left;
  width: 50%;
}

.bloodsearch {
  flex: 25%;
  max-width: flex;
  padding: 3% 10% 5% 10%;
  margin: 0% 5% 0% 5%;
  background: #e02020;
  background: rgb(224, 32, 32);
  color: white;
}

.bloodsearch img {
  /*research page image*/
  position: flex;
  float: left;
  width: 40%;
}

.fedlow {
  position: flex;
  padding: 3% 15% 0% 15%;
}

.fedlow img {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.lowvideo {
  position: flex;
  padding: 3% 15% 0% 15%;
}

.lowvideo video {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.fedmed {
  position: flex;
  padding: 3% 15% 0% 15%;
}

.fedmed img {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.fedmed:hover img {
  transform: scale(1.2);
  position: center;
}

.febhig img {
  display: block;
  float: center;
}

.febhig {
  position: flex;
  padding: 3% 15% 3% 15%;
}

.febhig:hover img {
  transform: scale(1.3);
  position: center;
}

.mockmock {
  position: flex;
  padding: 3% 15% 0% 15%;
}

.mockmock img {
  display: block;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.overnew {
  flex: 25%;
  max-width: flex;
  padding: 3% 10% 5% 10%;
  margin: 0% 5% 3% 5%;
  background: #e02020;
  background: rgb(224, 32, 32);
  color: white;
}

/*footer, NOTE: needs icons*/

footer {
  max-width: 100%;
  background-color: #2d3436;
  /*  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
*/
  color: white;
  padding: 20px;
  text-decoration: none;
}

.foot-con {
  display: flex;
  justify-content: right;
}

.foot-con li {
  list-style: none;
}

.foot-com {
  display: flex;
  justify-content: right;
}

.foot-com li {
  list-style: none;
}

.fot {
  text-decoration: none;
  color: white;
}

.fot2 {
  padding-left: 20px;
  text-decoration: none;
  color: white;
}
