						/* Page one */
html{
	max-width: 100%;
	/*2000px;*/
}

/*div{
	border: 15px solid green;
}*/

body{
	margin: 0; 
	font-family: Roboto, Verdana, sans-serif; 
	font-size: 16px;
/*	padding-left: 15px;
	padding-right: 15px;*/
	/*background color: #D4D3CD;*/
}

/*.padding{
	padding: 15px;
}*/

.one a{
	color: white;
	text-decoration: none;
}

.one{
	text-decoration-color: white;
	margin: 0;
	padding: 15px 15px 15px 15px;
	text-align: right;
	word-spacing: 50px;
	background-color: #2d3436;
	background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
	max-width: 100%;
}

.active:focus {
	color: #397EBC;
}

.active:hover {
	color: #397EBC;
}

.project a{
	color: #397EBC;
}

			/* title note */
			/*portfolio*/

h1{
	color: white;
}

h2{
	color: #397EBC;
	margin: 0;
	padding: 0;
	margin-top: 15px;
}



.head{
	background-color: #2d3436;
	background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
	text-align: left;
	padding: 100px;
	line-height: 1.5; 
}

/*animation on header text*/
.bio{
  font-size: 40px;
  font-family: Roboto, sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #397EBC; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end),blink-caret .7s step-end infinite;
  animation-play-state: left;
}

/* The typewriter cursor effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #397EBC }
}

.name{
	font-size: 200px;
	padding: 0;
}
.start{
/*	padding-top: 10px;*/
	text-align: left;
	text-decoration: none;
	font-size: 30px;
	width: 300px;
}

a.start{
	text-decoration: none;
}



 						/* home page links*/




/*title and image for work 'latest work' 'burger' image*/
.work{
	display: inline;
	writing-mode: vertical-rl;
	transform-origin: left;
	text-align:left;
	padding-left: 50px;
	position: relative;
	columns: auto;
}

.box{
	margin-left: 50px;
	margin-top: 0;
	display: inline;
	cursor: pointer;
}

/* title and image for shark image 'hobbie' & 'shark' image */
.hob{
	display: inline;
	margin-top: auto;
	display: inline;
	cursor: pointer;
	/*padding-left: 50px;*/
}

.time{
	text-align: left;
}

.hobbies{
	display: inline;
	writing-mode: vertical-rl;
	transform-origin: center;
	position: left;
	padding-left: 10px;
	position: flex;
	columns: auto;
}
.shark{
	display: inline;
	margin-top: auto;
	display: inline;
	cursor: pointer;
/*	padding-left: 50px;*/
}

/* title and image for shark image 'hobbie' & 'shark' image */
img.bout{
	margin-left: 50px;
	margin-top: 10px;
	display: inline;
	cursor: pointer;	
}


.about{
	display: inline;
	writing-mode: vertical-rl;
	transform-origin: left;
	text-align:left;
	padding-left: 100px;
	position: flex;
	columns: auto;
}

/*blurb about the 'about me'*/
.blurb {
  	color: #397EBC;
 	width: 300px;
 	writing-mode: horizontal-tb;
	font-size: 20px;
	position: absolute;
	display: inline;
	text-align: left;
	margin: 260px 0px 10px 100px;
}


						/*hobbies page*/

.phogallery{
  display: flex;
  flex-wrap: wrap;
  padding: 5px;					
}

/*.pride img{
 padding-left:50px;
}*/

.photo{
  flex: 25%;
  max-width:flex;
  padding: 5px;
}

.photo img {
  margin-top: 8px;
  vertical-align: middle;
  width: 25%;
}*/

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo {
    flex: 25%;
    max-width: 25%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .photo {
    flex: 100%;
    max-width: 100%;
  }
}

.hobbies{
	display: inline;
	writing-mode: vertical-rl;
	transform-origin: left;
	text-align:left;
	padding-left: 30px;
	position: flex;
	columns: auto;
	font-size: 30px;
}


.gall{
	margin-left: 70px;
	margin-top: -200px;
	 display: flex;
  flex-wrap: wrap;
  padding: 5px;	
}


 						/* me page links*/

.blurbme{
	float: right;
	color: #397EBC;
 	writing-mode: horizontal-tb;
	font-size: 20px;
	position: absolute;
	display: inline;
	text-align: left;
}

.button {
  background-color: #397EBC; /* Green/blue */
  border: none;
  color: white;
  padding: 15px 32px;
/* text-align: button;
*/text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-content: left;
}

hr.line {
  border: 1px solid #397EBC;
/*  margin-left: -550px;
*/}

a.button{
	 text-decoration: none;
}

.skills{
	text-align: left;
	word-spacing: 80px;

}

.around{
	display: inline;
	writing-mode: vertical-rl;
	transform-origin: left;
	text-align:left;
	margin-left: -538px;
	margin-top: 20px;
	position: flex;
	columns: auto;
	font-size: 20px;
}

.words{
	margin-top: -65px;
	margin-left: -300px;
}

.but{
	margin-left: -50px
}

						/*work page*/
						/* roadbikes */

/* title*/
.headbike{
	align-content: center;
}

/* title alignment*/
.biketit{
	display: inline;
	writing-mode: vertical-rl;
	transform-origin: left;
	text-align:left;
	padding-left: 40px;
	padding-bottom: 100px;
	position: flex;
	columns: auto;
	font-size: 40px;
}


.roarbike {
  float: left;
 /* display: flex;*/
  width: 47%;
}

.roarb{
	  float: left;
 	/* display: flex;*/
 	 width: 47%;
}

.feature{
	column-count: 2;
	position: flex;
	float: left;
  	width: 23%;
}
 

img.br{
	position: flex;
	float: left;
  	width: 25%;
  	margin: 5px;
}

img.frame{
	padding-left: 110px;
	padding-right: 100px;

}



				
					/* food app */



.food{
	align-content: center;
}

.foodh{
	display: inline;
	writing-mode: vertical-rl;
	transform-origin: left;
	text-align:left;
	padding-left: 40px;
	padding-bottom: 100px;
	position: flex;
	columns: auto;
	font-size: 40px;
}


.apper{
	position: flex;
	float: left;
  	width: 50%;
  	margin: 5px;
}

img.apper{
	margin-top: 5px;
	width: 50%;
	position: flex;
	float: left;
}


.bod{
	position: inline;
	float: left;
  	width: 50%;
  	margin: 5px;
}


.apbr{
	position: flex;
	float: left;
  	width:45%;
  	margin: 5px;
}

.app{
	margin-top: 0px;
	padding-top: 0px;
}

.appw{
	/*margin-top: 220px;*/
	margin-left: -40px;
}

img.appy{
	margin-top: 5px;
	width: 100%;
	position: flex;
	float: center;
	padding-left: 50px;
}


img.appw{
	margin-top: 5px;
	width: 100%;
	position: flex;
	float: center;
	padding-left: 50px;
}



					/* blood app */

.brief{
	float: left;
 /* display: flex;*/
  		width: 47%;
}
.collum{
	float: right;
 /* display: flex;*/
  		width: 47%;
}

.gb{
	display: inline;
	writing-mode: vertical-rl;
	transform-origin: left;
	text-align:left;
	padding-left: 40px;
	padding-bottom: 100px;
	position: flex;
	columns: auto;
	font-size: 40px;
}

.app{
	float: center;
 	margin-top: 0px;
 	padding-top: 0px;
}

img.bod{
	position: flex;
	float: left;
  	width: 40%;
  	margin: 5px;
}

.btitle{
	padding-left: 80px;
}


/*footer, NOTE: needs icons*/

footer{
	max-width: 100%;
	background-color: #2d3436;
	background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
	color: white;
	padding: 20px;
	text-decoration: none;
}

.foot-con{
	display: flex;
	justify-content: center;
}

.foot-con li{
	list-style: none;
	padding-left: 50px;
}

.fot{ 
	text-decoration: none;
	color: white;

}




